main {
    background: url(../images/bg-bottom.svg) left 0 bottom 0 no-repeat, url(../images/bg-top.svg) right -98px top -103px no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container-plans {
    width: 239px;
    text-align: center;
    margin-top: 71px;
}

.container-plans .title {
    color: var(--quartiary-color);
    font-size: 32px;
}

.container-plans .options-plans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.container-plans .options-plans p {
    font-size: 15px;
    color: var(--secundary-color);
}

input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.toggle {
    position: relative;
    display: block;
    width: 56px;
    height: 32px;
    background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    transition: ease-in 0.3s;
    padding: 4px;
}

.toggle:hover {
    opacity: 0.5;
}

.circle {
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 50%;
    margin: auto;
    position: absolute;
}

input[type="checkbox"]:checked ~.circle {
    right: 4px;
}

.container-cards {
    display: none;
    align-items: center;
}

.container-cards .card {
    background-color: #ffffff;
    width: 350px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 103px;
    border-radius: 10px;
    padding: 31px;
    height: 453px;
}

.container-cards .card:nth-child(2){
    background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
    padding: 56px 31px;
    height: 501px;
}

.container-cards .card:nth-child(2) .plan {
    color: #ffffff;
}

.container-cards .card:nth-child(2) .content-price {
    color: #ffffff;
}

.container-cards .card:nth-child(2) ul li {
    color: #ffffff;
}

.container-cards .card:nth-child(2) button {
    background: #ffffff;
    color: #6D72DE;
}

.container-cards .card:nth-child(2) button:hover {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.container-cards .card:first-child {
    border-radius: 10px 0px 0px 10px;
}

.container-cards .card:last-child {
    border-radius: 0 10px 10px 0;
}

.plan {
    font-size: 18px;
    color: var(--quartiary-color);
}

.content-price {
    color: var(--quartiary-color);
    margin-top: 24px;
    display: flex;
    align-items: center;
    height: 71px;
}

.price {
    font-size: 40px;
}

.content-price span {
    font-size: 72px;
}

.list {
    margin-top: 32px;
}

.list li {
    border-top: 1px solid var(--secundary-color);
    padding: 12px;
    font-size: 15px;
    color: var(--tertiary-color);
}

.list li:last-child {
    border-bottom: 1px solid var(--secundary-color);
}

button {
    margin-top: 32px;
    width: 288px;
    height: 44px;
    background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
    color: #6D72DE;
    border: 1px solid #6D72DE;
}

/* Código de ativação */

.container-cards.actived {
    display: flex;
}

.disabled {
    display: none;
}