@media (max-width: 425px) {
    main {
        background: url(../images/bg-bottom.svg) left 0 bottom 0 no-repeat, url(../images/bg-top.svg) right -98px top -103px no-repeat;
        max-width: 375px;
    }

    .container-plans {
        margin-top: 64px;
    }

    .container-cards {
        flex-direction: column;
        margin: 80px;
        gap: 32px;
    }

    .container-cards .card {
        width: 327px;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 10px;
        padding: 31px 29px;
    }

    .container-cards .card:nth-child(2){
        background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
        padding: 31px 29px;
        height: 454px;
    }

    .container-cards .card:first-child, .container-cards .card:last-child  {
        border-radius: 10px;
    }

    button {
        width: 269px;
    }
}