main {
    background: url(../images/bg-bottom.svg) left 0 bottom 0 no-repeat, url(../images/bg-top.svg) right -98px top -103px no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner{
    width: 239px;
    margin-top: 71px;
    margin-bottom: 64px;
}

.section-options {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 32px;
    margin-top: 40px;
}

/* .section-options .space {
    width: 56px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
}

.section-options .space:hover {
    opacity: 0.5;
}

.section-options .space .options {
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
} */

.toggle {
    background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
    width: 56px;
    height: 32px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    position: relative;
}

.toggle .circle {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 4px;
    position: absolute;
    /* right: 0; */
}

#switch {
    /* display: none; */
}

#switch:checked ~ .toggle .circle {
    position: absolute;
    background: red;
    right: 0;
}

.option {
    font-size: 15px;
    color: var(--secundary-color);
}

.container-cards {
    display: flex;
    align-items: center;
}

.container-cards .card {
    background-color: #ffffff;
    width: 350px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 31px;
    height: 453px;
}

.container-cards .card:nth-child(2){
    background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
    padding: 56px 31px;
    height: 501px;
}

.container-cards .card:nth-child(2) .plan {
    color: #ffffff;
}

.container-cards .card:nth-child(2) .price {
    color: #ffffff;
}

.container-cards .card:nth-child(2) ul li {
    color: #ffffff;
}

.container-cards .card:nth-child(2) button {
    background: #ffffff;
    color: #6D72DE;
}

.container-cards .card:nth-child(2) button:hover {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.container-cards .card:first-child {
    border-radius: 10px 0px 0px 10px;
}

.container-cards .card:last-child {
    border-radius: 0 10px 10px 0;
}

.plan {
    font-size: 18px;
    color: var(--quartiary-color);
}

.price {
    color: var(--quartiary-color);
    font-size: 72px;
    margin-top: 24px;
}

.list {
    margin-top: 32px;
}

.list li {
    border-top: 1px solid var(--secundary-color);
    padding: 12px;
    font-size: 15px;
    color: var(--tertiary-color);
}

.list li:last-child {
    border-bottom: 1px solid var(--secundary-color);
}

button {
    margin-top: 32px;
    width: 288px;
    height: 44px;
    background: linear-gradient(135deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%));
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
    color: #6D72DE;
    border: 1px solid #6D72DE;
}